# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
# Eclipse things
.metadata/*
Bead/bin/hu/elte/Main.class
*.class
.metadata/.plugins/oracle.eclipse.tools.common.services/Bead/command.num
*.log
.metadata/.plugins/oracle.eclipse.tools.common.services/Bead/command.num
*.num
*.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_3.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_3.nrm
*.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_3.fnm
*.fdx
*.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_3.prx
*.num
.metadata/.plugins/oracle.eclipse.tools.common.services/Bead/command.num
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_5
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_4.fnm
*.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_4.tii
*.gen
*.gen
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_4.prx
*.gen
